@import '../../helper/helper.scss';


.contentStyle{
    display: flex;
    max-width: 1400px;
    margin: auto;
    .articleStyle{
        background-color: $light;
        margin: 1rem;
        .articleDevider{
            padding: 1rem;
            display: flex;
            flex-direction: column;
            .articleInfo{
                display: flex;
                color: $highlight;
                gap: 0.5rem;
            }

        }
        img{
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .contentStyle{
        display: grid;
        grid-template-columns: 1fr;
        .articleStyle{
            margin-top: 1rem;
        }
    }
}