@import '../../helper/helper.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: $light;
    padding: 1rem;
    color: #fff;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navLogo {
    color: $highlight;
    font-family: Righteous;
    text-decoration: none;
    font-size: 48px;
    font-weight: 400;
    padding-left: 1rem;
}

.navLogin{
    color: $highlight;
    .loginIcon{
        font-size: 26px;
    }
}

.navMenu {
 display: flex;
    list-style: none;
    transition: all 0.3s ease;
    font-family: Roboto Flex;

    &.active {
        display: flex;
    }
}

.navItem {
    margin: 0 1rem;
    font-size: 24px;
    font-weight: 400;
    font-family: Roboto Flex;
}

.navLink {
    color: $dark;
    text-decoration: none;
    font-size: 1rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;

    .bar {
        background-color: $highlight;
        height: 3px;
        width: 25px;
        margin: 3px 0;
        transition: 0.4s;
    }
}

@media (max-width: 780px) {
    .navContainer{
        display: grid;
        grid-template-columns: 9fr 1fr 1fr;
        
    }
    .navMenu {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 50%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: $light;
        text-align: center;
    }

    .navItem {
        margin: 1rem 0;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .navLogin {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

@media (max-width: 450px){
    .navContainer{
        display: grid;
        grid-template-columns: 9fr 1fr 1fr;
        gap: 1rem;
    }
}